<tr>
    <% @popular[0...7].each do |show| %>
    <td>
        <div>
            <%= 
                link_to image_tag("https://image.tmdb.org/t/p/w185/#{show["poster_path"]}", 
                alt:"#{show["name"]}"), 
                show_path(show["id"]),
                :class => "img" 
            %>
        </div>
    </td>
    <% end %>
</tr>
<tr>
    <% @popular[7...14].each do |show| %>
    <td>
        <div>
            <%= 
                link_to image_tag("https://image.tmdb.org/t/p/w185/#{show["poster_path"]}", 
                alt:"#{show["name"]}"), 
                show_path(show["id"]),
                :class => "img" 
            %>            </div>
    </td>
    <% end %>
</tr>
<% @popular[14...20].each do |show| %>
<td>
    <div>
        <%= 
            link_to image_tag("https://image.tmdb.org/t/p/w185/#{show["poster_path"]}", 
            alt:"#{show["name"]}"), 
            show_path(show["id"]),
            :class => "img" 
        %>            </div>
</td>
<% end %>