<% @popular[0...18].each do |show| %>
    <div class='col my-1'>
        <%= 
            link_to image_tag("https://image.tmdb.org/t/p/w185/#{show['poster_path']}", 
            alt:"#{show['name']}"), 
            show_path(show['id'])
        %>
    </div>
<% end %>