// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    height: 1px;
    width: 1px;
    margin-bottom: 6vh;
    margin: 0 auto;
}

img{
    max-width: 20vh;
    margin: 0.5vh;
    border: 1px solid white;
}td:hover img {
    margin: 0;
    box-shadow: -3px 6px .4em rgba(0,0,0,0.6);
}

.shows{
    margin: 0.5vh;
}td:hover .shows{
    margin-top: 0;
}.shows img{
    margin: 0.5vh;
    margin-top: 0;
}td:hover .shows img{
    margin: 0.5vh;
    margin-top: 0;
}

.show-link{
    bottom: 0;
    left: 0;
    width: 20vh;
    height: 29.8vh;
    margin: 0.5vh;
    border: 1px solid white;
    background-color: black;
}td:hover .show-link{
    margin: 0;
    box-shadow: -3px 6px .4em rgba(0,0,0,0.6);
}.show-link a{
    text-decoration: none;
    color: white;
    padding: 0 0 22.5vh 0;
    height: 100%;
}

td div {
    height: 81.5%;
}.arrow {
    height: 100%;
    width: 97%;
    bottom: 0;
    right: 0;
    max-width: 20vh;
    margin: 1vh auto;
    font-size: 10vh;
    background-color: rgba(0,0,0,0.7);
    color: white;
    
    padding-top: 4vh;
    border: 1px solid white;
}td:hover .arrow {
    margin-top: 0;
    box-shadow: -3px 6px 10px rgba(0,0,0,0.6);
}

