.container {
    display: inline-block;
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    background-color: royalblue;
    border: 1vh solid white;
    /*border-top: none;*/
    border-radius: 2vh;
    color: white;
}

.column {
    display: block;
    width: 100%;
}

.row {
    display: block;
}

.shows-img {
    float: left;
    width: 100%;
    max-width: 50vh;
    margin: 2%;
    margin-top: 4%;
    padding: 0;
    border: 1vh solid white;
    border-radius: 1vh;
}

title {
    margin: 0;
}.title a{
    color: white;
}

.overview {
    padding: 0 2vh;
}